@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    letter-spacing: 2px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(59,30,56,1) 100%);
}

.container {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.illustration {
    width: fit-content;
    height: 100%;
}

.animated .astronaut {
    animation-name: movimentoastronaut;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.animated .fragments {
    transform-origin: 0 0;
    animation-name: animfragments;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animated .asteroids {
    transform-origin: 0 0;
    animation-name: animasteroids;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.animated .stars {
    transform-origin: 0 0;
    animation-name: animstars;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.bouncy-text {
    animation: bounce 2s infinite ease-in-out;
    color: rgb(238, 238, 67);
}

.static-text {
    color: rgb(187, 182, 182);
}

@keyframes movimentoastronaut {
    from {transform: translate(-20px,15px);}
    to {transform: translate(10px , -15px);}
}

@keyframes animfragments {
    from {transform: translate(-200%, 0px);}
    to {transform: translate(200% , 0px);}
}

@keyframes animstars {
    from {transform: translate(-200%, 0px);}
    to {transform: translate(200% , 0px);}
}

@keyframes animasteroids {
    from   {transform: translate(-200%, 15px);}
    to {transform: translate(200%, 15px);}
}

@keyframes bounce {
    60% {
         -webkit-transform: scale(1.07);
         opacity: 0.8;
    }
}